@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('/fonts/icons/style.css');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  outline: 1px solid red;
  height: 100vh;
  font-family: 'Bebas Neue', cursive;
}

a {
  text-decoration: none;
  color: black;
}

.main {
  min-height: 100vh;
  position: relative;
}

.bg {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: #7d3688 url('/images/bg.png') center / cover;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 64px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 44px;
  color: white;
}

.logo i {
  margin-right: 8px;
}
.ic_cart {
}
.menu {
}

.menu a {
  display: inline-block;
  padding: 48px 30px 30px;
  border-radius: 0 0 8px 8px;
  font-size: 24px;
  color: white;
}

.menu a:not(:last-child) {
  margin-right: 16px;
}

.menu a.active,
.menu a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* content */
.content {
  flex-grow: 1;
  display: grid;
  grid-gap: 3vw;
  align-items: center;
  grid-template-columns: 2fr 3.4fr 1fr;
}

.content > div {
}

.button {
  font-size: 5vw;

  letter-spacing: 0.3em;
  background-color: #f4e300;
  text-align: center;
  vertical-align: middle;
  padding: 1vw;
  border-radius: 0.5vw;
  box-shadow: 0.7vw 0.7vw;
  cursor: pointer;
}

.button span {
  position: relative;
  top: 2px;
}

.title img {
  width: 100%;
}

.title > div {
  width: 33vw;
}

.title div:first-child {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.image {
  position: relative;
}

.image img {
  --size: 40vw;
  position: absolute;
  top: calc(var(--size) / -2);
  left: 0;
  width: var(--size);
}

.description {
  text-align: center;
  border: 2px solid white;
  padding: 3vw 1.5vw;
  border-radius: 8px;
}

.description div {
  line-height: 0.9em;
  font-size: 2.2vw;
}

.description div:nth-child(1) {
  font-size: 4.8vw;
}
.description div:nth-child(2) {
  font-size: 6vw;
}

.description div:nth-child(3) {
  letter-spacing: 0.16em;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.copyright {
  letter-spacing: 5px;
}

.social a {
  --size: 30px;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  line-height: calc(var(--size) + 5px);
  border-radius: var(--size);
  background-color: black;
  text-align: center;
  color: white;
}
